*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: inherit;
}

html:root {
    font-family: 'Epilogue', sans-serif;

    --clr-white: hsl(0, 0%, 98%);
    --clr-gray: hsl(0, 0%, 41%);
    --clr-black: hsl(0, 0%, 8%);
}

body {
    margin: 0;

    background-color: var(--clr-white);
}

header {
    padding: 1.5em 1em;

    display: flex;
    justify-content: space-between;
}

nav {
    display: none;
}

header .icon__menu {
    max-height: 1.125em;
}

aside {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;

    background-color: hsla(0, 0%, 0%, 0.69);
}

aside.show {
    display: block;
}

aside .elm__sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 15em;
    min-height: 100vh;

    background-color: var(--clr-white);
}

aside .elm__sidebar .icon__close {
    position: absolute;
    top: 21px;
    right: 19px;
}

aside .list__category {
    margin: 5.25em 0 1.5em;
    padding: 0 1.5em;

    list-style-type: none;
}

aside .list__category > li {
    margin-bottom: 2em;

    color: var(--clr-gray);
}

aside .list__category > li:last-of-type {
    margin-bottom: 0;
}

aside .list__category .has__list button {
    margin: 0;
    padding: 0;

    font-size: 1rem;

    background-color: var(--clr-white);
    border: none;
    border-radius: 0;
    color: var(--clr-gray);
}

aside .list__category .has__list button > span {
    margin-right: .75em;
}

aside .list__category .icon__arrow {
    position: relative;
    bottom: .125em;
}

aside .has__list.show .icon__arrow {
    transform: rotate(180deg);
}

aside .list__sub-category {
    display: none;
    margin-top: 2.125em;
    padding: 0;
    padding-left: 1.5em;

    list-style-type: none;
}

aside .has__list.show .list__sub-category {
    display: block;
}

aside .list__sub-category li {
    margin-bottom: 1.625em;

    font-size: 1rem;
    line-height: 1em;
}

aside .list__sub-category li:last-of-type {
    margin-bottom: 0;
}

aside .list__sub-category .has__icon img {
    margin: 0;
    margin-right: .875em;

    position: relative;
    top: .125em;
}

aside .elm__sign-up {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: .25em;
}

aside .elm__sign-up button {
    width: 12.25em;
    min-height: 2.625em;

    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1em;

    background-color: var(--clr-white);
    border: none;
    border-radius: 1em;
    color: var(--clr-gray);
}

aside .elm__sign-up button:last-of-type {
    border: 1.5px solid var(--clr-gray);
}

picture.img__hero img {
    width: 100%;
    min-height: 17.625em;
    margin-bottom: 3.125em;
}

main h1 {
    margin: 0;
    margin-bottom: 0.5em;

    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: calc(1em + 1px);
    letter-spacing: -0.0125em;
    text-align: center;

    color: var(--clr-black);
}

main p {
    margin: 0;
    margin-bottom: 1.5em;
    padding: 0 1em;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.625em;
    text-align: center;
    letter-spacing: 0.0025em;

    color: var(--clr-gray);
}

main .btn__learn-more {
    margin: 0 auto 3em;
    padding: 0;
    display: block;
    width: 8.5em;
    min-height: 3em;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.625em;
    text-align: center;
    letter-spacing: 0.0025em;

    background-color: var(--clr-black);
    border: none;
    border-radius: 0.875em;
    color: var(--clr-white);
}

footer {
    margin: 3em 0;

    display: flex;
    justify-content: center;
}

footer .list__sponsor {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

footer .list__sponsor li {
    display: inline-block;
    margin-right: 1.75em;
}

footer .list__sponsor li:last-of-type {
    margin-right: 0;
}

footer .icon__databiz {
    width: 82px;
    min-height: 14px;
}

footer .icon__audiophile {
    width: 53px;
    min-height: 25px;
}

footer .icon__meet {
    width: 65px;
    min-height: 15px;
}

footer .icon__maker {
    width: 59px;
    min-height: 18px;
}


@media (min-width: 1020px) {
    header {
        padding: 1.359375em 2.5em;

        justify-content: left;
        align-items: center;
        gap: 3.75em;
    }

    nav {
        display: flex;
        justify-content: space-between;

        flex-grow: 1;
    }

    nav .list__category  {
        margin: 0;
        padding: 0;

        display: flex;
        gap: 2.5em;
        align-items: center;

        list-style-type: none;
    }

    nav .list__category > li {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 100%;
        letter-spacing: 0.01em;

        color: var(--clr-gray);
    }

    nav .list__category > li:hover {
        cursor: pointer;
        color: var(--clr-black);
    }

    nav .list__category > li:last-of-type {
        margin-right: 0;
    }

    nav .list__category .has__list {
        position: relative;
    }

    nav .list__category .has__list button {
        margin: 0;
        padding: 0;
        
        font-size: 0.875rem;

        background-color: var(--clr-white);
        border: none;
        border-radius: 0;
        color: var(--clr-gray);
    }

    nav .has__list:hover button > span {
        cursor: pointer;

        color: var(--clr-black);
    }

    nav .has__list:hover .icon__arrow {
        transform: rotate(180deg);
    }

    nav .has__list button > span {
        margin-right: .25em;
    }

    nav .icon__arrow {
        position: relative;
        bottom: .125em;
    }

    nav .has__list:hover .list__sub-category {
        display: block;
    }

    nav .has__list:first-of-type .list__sub-category {
        top: 3em;
        right: 0;

        min-height: 10em;
        width: 8.57em;
    }

    nav .has__list:nth-of-type(2) .list__sub-category {
        top: 3em;
        left: 0;

        min-height: 5.714em;
        width: 5.714em;
    }

    nav .list__sub-category {
        display: none;
        
        position: absolute;

        margin: 0;
        padding: 1.5em;

        list-style-type: none;
        box-shadow: 0px 10px 24px 0px hsla(0, 0%, 0%, 0.15);
        border: none;
        border-radius: 0.857em;
        color: var(--clr-gray);
    }

    nav .list__sub-category > li {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 100%;
        letter-spacing: 0.01em;

        margin-bottom: 1.125em;
    }

    nav .list__sub-category > li:last-of-type {
        margin-bottom: 0;
    }

    nav .list__sub-category .has__icon img {
        margin: 0;
        margin-right: 1em;

        position: relative;
        top: .125em;
    }

    nav .elm__sign-up {
        display: flex;
        align-items: center;

        gap: .5em;
    }

    nav .elm__sign-up button {
        height: 3em;
        width: 7.4285em;

        font-weight: 500;
        font-size: 0.875rem;
        line-height: 100%;
        letter-spacing: -0.01em;

        background-color: var(--clr-white);
        border: none;
        border-radius: 1em;
        color: var(--clr-gray);
    }

    nav .elm__sign-up button:last-of-type {
        border: 1.5px solid var(--clr-gray);
    }

    nav .elm__sign-up button:hover {
        cursor: pointer;

        color: var(--clr-black);
    }

    nav .elm__sign-up button:last-of-type:hover {
        border-color: var(--clr-black);
    }

    header .icon__menu {
        display: none;
    }

    picture.img__hero img {
        height: 640px;
        width: 480px;

        float: right;
        margin-top: 4.42em;
        margin-right: 9.028vw;
    }

    main {
        margin-top: 10.92em;
        margin-left: 11.45vw;
    }

    main h1 {
        margin: 0;
        margin-bottom: 0.8em;
        padding: 0;
        padding-right: calc(100vw - 8.75em);

        font-weight: 700;
        font-size: 4.875rem;
        line-height: 103.85%;
        letter-spacing: 0.0015em;
        text-align: left;
    }

    main p {
        margin: 0;
        margin-bottom: 2.6666666667em;
        padding: 0;
        padding-right: calc(100vw - 35em);

        font-weight: 500;
        font-size: 1.125rem;
        line-height: 158%;
        letter-spacing: 0.0035em;
        text-align: left;
    }
    
    main .btn__learn-more {
        margin: 0;
        width: 9.055em;
        height: 3.11em;

        font-weight: 500;
        font-size: 1.125rem;
        line-height: 158%;
        letter-spacing: 0.005em;

        border: 1.5px solid transparent;
        border-radius: 0.7777777778em;
    }

    main .btn__learn-more:hover {
        cursor: pointer;

        color: var(--clr-black);
        background-color: var(--clr-white);
        border: 1.5px solid var(--clr-black);
    }

    footer {
        margin: 5em 0 0;
        margin-left: 11.45vw;

        justify-content: flex-start;
    }

    footer .list__sponsor li {
        margin-right: 2.5em;
    }

    footer .list__sponsor li:last-of-type {
        margin-right: 0;
    }

    footer .icon__databiz {
        width: unset;
        min-height: unset;
    }

    footer .icon__audiophile {
        width: unset;
        min-height: unset;
    }

    footer .icon__meet {
        width: unset;
        min-height: unset;
    }

    footer .icon__maker {
        width: unset;
        min-height: unset;
    }
}